/**  stylesheet da landing page formulario simples de cadastro pessoal  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
header {
    padding: 40px;
    background-image: linear-gradient(to left, #fd6806, #ffbc13);
}
h1 {
    text-align: center;
    font-size: 1.9rem;
    padding: 5px;
    line-height: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
}
form {
    max-width: 800px;
    width: 100%;
    padding: 10px 10px 30px 10px;
    background-color: #ffffff !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.6s;
}
form:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
label {color: #252220; font-weight: 300;}
input[type="text"], input[type="email"], select {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 8px;
    margin: 5px 0 5px 0;
    line-height: 8px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}
input[type="email"]:invalid {border-color: #ff0000;}
input[type="text"]:focus, input[type="email"]:focus, select:focus {outline-color: #bfbfbf;}
input[type="submit"], input[type="reset"] {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 8px;
    margin: 5px 0 5px 0;
    line-height: 8px;
    display: block;
    font-size: 17px;
    border: none;
    color: white;
    cursor: pointer;
    line-height: 8px;
    border-radius: 3px;
    resize: vertical;
    letter-spacing: 1px;
}
input[type="submit"] {color: white;background-color: #1036aa;}
input[type="submit"]:hover {background-color: #113cbb;transition: 0.6s;}
input[type="submit"]:focus {outline-color:#0d2d8c;}
input[type="reset"] {background-color: #bfbfbf;color: #000;}
input[type="reset"]:hover {background-color: #b3b3b3;transition: 0.6s;}
input[type="reset"]:focus {outline-color: #a6a6a6;}
small {font-size: 0.85rem;letter-spacing: 1px;}
footer {
    position: relative;
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to left,  #5f5854, #89837F);
    color: hsl(0, 0%, 100%);
    width: 100%;
}
#alert-sucess {
    padding: 30px;
    border-radius: 4px;
    background-color: #ffffff !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.6s;
}
#alert-sucess:hover { box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);}
#text-main {
    padding: 10px;
    margin: 15px 0;
    text-align: center;
    color: #252220;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
#sexo, #estado {background-color: white;}
#email-invalido, #nome_error, #cpf_error, 
#rg_error, #cep_error, #telCelular_error, 
#sexo_error, #telFixo_error, #logradouro_error {color:#ff0000;font-size: 0.85rem;letter-spacing: 1px;}

.content-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #efe9e5;
}
.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
}
.boxSucess {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    height: 50vh;
}
.boxSucess h1 {color: #252220;}
.row {
    display: flex;
    flex-wrap: wrap;
}
.obrigatorio {color: #ff0000;}
.col-12 {width: 100%;margin: 2px 0 0 0; padding: 0 6px;}
.col-9 {width: 75%;margin: 2px 0 0 0; padding: 0 6px;}
.col-6 {width: 50%;margin: 2px 0 0 0; padding: 0 6px;}
.col-5 {width: 41.66%;margin: 2px 0 0 0; padding: 0 6px;}
.col-4 {width: 33.33%;margin: 2px 0 0 0; padding: 0 6px;}
.col-3 {width: 25%;margin: 2px 0 0 0; padding: 0 6px;}
.col-2 {width: 16.66%;margin: 2px 0 0 0; padding: 0 6px;}
.boxBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.footer-content p {margin-bottom: 5px;}
.footer-content a {color: #ffffff;font-weight: 300;}
.footer-content a:hover {text-decoration: none;}
.footer-content a svg {width: 32px; height: 32px;margin: 0 10px;fill:#ffffff;}
.footer-content a #github:hover {fill:black;}
.footer-content a #linkedin:hover {fill:#1036aa;}

/** responsive **/
@media screen and (max-width: 767px) {
    .column-md {width:100%;}
}
@media screen and (max-width: 575px) {
    h1 {font-size: 1.5rem;}
    .column {width:100%;}
    .footer-content p {line-height: 1.5rem;}
}